/*justify-content, justify-items, align-items, align-self, justify-self.
*/

body {
    display: grid;
    align-content: center;
    height: 100vh;
    width: 50%;
    margin: 0 auto;
}


.payment-form {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.total-amount {
    margin-left: 20px;
}



.front {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    background-color: lightgrey;
    border: 1px solid none; 
    border-radius: 25px; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
    justify-self: center;
    margin-right: 30px;
}

.card-details label {
    display: block;
}
.card-details{
    margin-left: 20px;
}

.card-holder {
    grid-column: 1;
    margin-left: 20px;
}
.card-holder label {
    display: block;
}

.expiration {
    grid-column: 2;
    justify-items: center;

}
.expiration label {
    display: block;
}
.expiration input {
    width: 3em;
}


.back {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    display: grid;
    background-color: lightgrey;
    z-index: -1;
    border: 0px solid none; 
    border-radius: 25px; 
    padding: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

.black {
    background-color: black;
    margin-top: 10px; 
    grid-column: 1 / -1;

    width: 100%;
    margin-top: 20px;
}

.cvc {
    justify-self: end;
    align-self: end;
    margin-right: 62px;
}
.cvc label {
    display: block;
}
.cvc input {
    width: 2em;
}

button { 
    grid-column: 3;
    grid-row: 4;
    height: 100%;
    width: 50%;
}
