@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");


:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, san-serif;
    }

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center;
    z-index: 10;
}

.close-viewer {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-light);
    font-size: 1.5em;
    cursor: pointer;
}

.viewer img {
    max-height: 100%;
    border: 5px solid white;
    box-shadow: 5px 5px 10px var(--text-dark);
}

.hide {
    display: none;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    }
    a:link,
    a:visited {
    color: var(--accent-color);
    }

header {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 20px;
}

.menu-button {
    background-color: var(--primary-color); 
    border: none;
    color: white;
    padding: 20px;
    font-size: 1em;
}

.href {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    flex-direction: column;
}
.href a {
    padding: 5px 0px;
}

main {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.gallery {
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

img {
	max-width: 100%;
    object-fit: cover;
    display: block;
    border: 5px solid white;
    box-shadow: 5px 5px 10px var(--text-dark);
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px 50px;
    text-align: left;

}

@media screen and (min-width: 700px) {
    .viewer {
        top: 50px;
        left: 50px;
        bottom: 50px;
        right: 50px;
        padding: 20px;
        background: rgba(0, 0, 0, 0.85);
        border-radius: 10px;
    }
    
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .href {
        flex-direction: row;
    }
    .href a {
        padding: 0 10px;
    }
}